@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #0f0f13;
  color: #e2e8f0;
}
/* Scrollbar custom styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1a20;
}
::-webkit-scrollbar-thumb {
  background: #4a5568;
  border-radius: 4px;
}
